* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: rgb(249, 249, 249, 1);
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 84px;
}

/* START-Background-Image-Section */
.background-section{
    margin-top:133px;
}

.background {
   background: url(./photos/Backgrnd.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   padding-top:218px;
   padding-bottom:144px;
   padding-left:57px;
   border-radius: 20px;
}

.background h3 {
   font-size:12px;
   font-weight:700;
   color:white;
}

.background h1{
   font-size:46px;
   font-weight:400;
   color:white;
}

.background span{
   background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
   -webkit-background-clip:text;
   background-clip: text;
   color:transparent;
   font-size: 700;
}

.background p{
   font-size:20px;
   font-weight:400;
   color:white;
   max-width: 494px;
}


/* topics Section */

.second-section {
   display: flex;
   flex-direction: column;
   margin-bottom: 87.5px;
   margin-top: 73px;
}

.second-section-cards {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
 
.main-title-2 {
   margin-bottom: 48px;
   width: 282px;
   height: 36px;
   font-family: "Poppins", sans-serif;
   font-size: 32px;
   font-weight: 700;
   line-height: 48px;
   color: rgba(38, 38, 38, 1);
}
 
.navigation-32 {
   display: flex;
   flex-direction: column;
   margin-top: 40px;
   width: 204px;
   height: 291px;
   border-radius: 20px;
   background-color: rgba(255, 255, 255, 1);
   box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.05);
   transition: 0.2s;
   cursor: pointer;
}

.navigation-32:hover {
   transform: translateY(-10px);
   
}
.navigation-32 a:hover {
   color:white;
}
 
 
.img1 {
   display: flex;
   margin: 51px 58px 20px  58px;
   width: 88px;
   height: 88px;
}
 
.text-1 {
   width: 129px;
   height: 36px;
   font-family: 'Poppins', sans-serif;
   font-size: 20px;
   font-weight: 700;
   line-height: 30px;
   margin: 0px 38px 29px 37px;
   text-align: center;
}
 
.linktg {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(76, 224, 215, 1);
   height: 35.95px;
   border-radius: 40px;
   margin: 0px 29.9px 29.88px 30px;
   font-family: 'Poppins', sans-serif;
   font-size: 12px;
   font-weight: 700;
   line-height: 18px;
   text-align: center;
   color: black;
}
 
.line {
   height: 1px;
   background-color: rgba(188, 188, 188, 1);
   margin-bottom: 52.5px;
   max-width: 1267px;
   width: 100%;
 }
