body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.header {
    background-color: #fff;
    padding: 25px 20px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 84px;
}

/*====header====*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 47px;
}

.navigation {
    display: flex;
    align-items: center;

}

.navigation img {
    margin-left: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.navigation img:hover {
    transform: scale(1.1);
}

.navigation a {
    padding: 8px 32px;
    color: #262626;
    font-size: 14px;
    font-weight: 700;
    transition: 0.2s;

}

.navigation a:hover {
    border-radius: 40px;
    background-color: rgb(76, 224, 215, 1);
    transform: scale(1.1);

}

a {
    text-decoration: none; /* Removes underline from link */
}
